@import '@fontsource/poppins/100.css'; /* Thin */
@import '@fontsource/poppins/200.css'; /* Extra Light */
@import '@fontsource/poppins/300.css'; /* Light */
@import '@fontsource/poppins/400.css'; /* Normal */
@import '@fontsource/poppins/500.css'; /* Medium */
@import '@fontsource/poppins/600.css'; /* Semi Bold */
@import '@fontsource/poppins/700.css'; /* Bold */
@import '@fontsource/poppins/800.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
      width: 10px; /* Lebar scrollbar */
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1; /* Warna track (bagian belakang scrollbar) */
      border-radius: 10px; /* Border radius track */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #888; /* Warna scrollbar */
      border-radius: 10px; /* Border radius scrollbar */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555; /* Warna saat hover */
    }
  }
  
/* #surveyVizPanel {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}

#surveyVizPanel .visualization-element {
    font-size: 16px;
    color: #333;
    background-color: red;
} */



/* 
.sa-question__content {
  background: linear-gradient(to top, #1d1e24, #2e2e30) !important;
} */



/* 
.dashboardContainer {
  background: #1f2420;
  color: white;
}
.sa-question__title .sa-question__title--draggable {
  color: red !important;


}
.sa-question__content {
  color: white;
}
.sa-question__select-wrapper .sa-question__select  {
  background: gray !important;
  border-color: gray !important;
  color: white;
} */
